<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- head of the website -->
    <header>
    <div class="header"></div>
    </header>
    <!-- navigation bar -->
    <nav>
        <div class="nav col-1 fl"></div>
        <div class="nav col-1 new"></div>
        <div class="nav col-1 new"></div>
        <div class="nav col-1 new"></div>
        <div class="nav col-1 fr"></div>
        <div class="clr"></div>
    </nav>
    <!-- Article/aside of the website -->
    <div class="article fl"><article></article></div>
    <div class="aside fr"><aside></aside></div>
    <div class="clr"></div>
    <!-- Footer of the website -->
    <div class="footer"><footer></footer></div>

</body>

</html>