*{margin: 0;}
.fl{float: left;}
.fr{float: right;}
.new{float:left; margin-left: 1%;}
.clr{clear: both;}

.bg1{background-color: black;}
.bg2{background-color: white;}
.bg3{background-color: blueviolet;}
.bg4{background-color: blue;}

.head{
    /* height:10vh; */
    padding: 2.2%,5%;
}
.logo{
    width: 20%;
    display: block;
    color: white;
    font-size: 3rem;
    text-decoration: none;
    text-transform: capitalize;
    float: left;
}
.nav{
    width: 70%;
}
.nav ul{
    padding-top: 2%;
    text-align: right;
}
.nav ul li{
    display: inline;
    list-style: none;
    margin-right: 4%;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;

}